---
layout: default
title: Overview
class: overview
nav-order: 1
---


<section class="page__header" style="background-image: url('{{site.baseurl}}/img/bg/{{page.class}}.jpg');">
  <div class="row row--padding">
    <h1 class="page__header-title">Brussels</h1>
    <p class="page__header-subtitle">Has Surprises Around Every Corner</p>
  </div>
</section>

<section class="overview-nav row--padding">
  <div class="overview-nav__wrap row">

  {% assign nav-order = site.pages | sort:"nav-order" %}
  {% for page in nav-order %}
    {% if page.layout == "page" %}
    <a id="overview-nav-{{page.class}}" class="overview-nav__item" href="{{ site.baseurl }}{{ page.url }}" style="background-image: url('{{site.baseurl}}/img/bg/{{page.class}}.jpg');">
      <span>{{ page.title }}</span>
    </a>
    {% endif %}
  {% endfor %}

  </div>
</section>

{% include page-offers.html %}
