{% include page-header.html %}

<section class="page__content row--padding">
  <div class="page__content-wrap row">
    <div class="row">
      <h2>Brussels has surprises around every corner</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero fugit quidem beatae quos nam, labore praesentium enim quod aut ullam aliquam velit et asperiores placeat vitae expedita corporis cumque neque, autem alias. Asperiores blanditiis nam illo molestiae unde modi maiores mollitia libero veritatis ab beatae accusamus repellat vero quibusdam sint cum excepturi, nulla vel recusandae dolor quod aliquid in. Laboriosam?</p>
    </div>
    <div class="row row--columns-6-6-gutters row--columns-vertical-align">
      <div class="row__column feature-image feature-image--left">
        <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/bg/food-and-drink.jpg');"></div>
      </div>
      <div class="row__column">
        <h3>Section Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia impedit aperiam unde deserunt voluptatem saepe, esse in consequuntur, dolorum facere quaerat. Libero voluptatum, excepturi a sequi? Autem, repudiandae, fugiat! Est!</p>
        <a href="#" class="btn">More Info</a>
      </div>
    </div>
    <div class="row row--columns-6-6-gutters row--columns-vertical-align">
      <div class="row__column feature-image feature-image--left">
        <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/bg/food-and-drink.jpg');"></div>
      </div>
      <div class="row__column">
        <h3>Section Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia impedit aperiam unde deserunt voluptatem saepe, esse in consequuntur, dolorum facere quaerat. Libero voluptatum, excepturi a sequi? Autem, repudiandae, fugiat! Est!</p>
        <a href="#" class="btn">More Info</a>
      </div>
    </div>
    <div class="row row--columns-6-6-gutters row--columns-vertical-align">
      <div class="row__column feature-image feature-image--left">
        <div class="bg-image-ratio bg-image-ratio--16-9" style="background-image: url('{{site.baseurl}}/img/bg/food-and-drink.jpg');"></div>
      </div>
      <div class="row__column">
        <h3>Section Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia impedit aperiam unde deserunt voluptatem saepe, esse in consequuntur, dolorum facere quaerat. Libero voluptatum, excepturi a sequi? Autem, repudiandae, fugiat! Est!</p>
        <a href="#" class="btn">More Info</a>
      </div>
    </div>
  </div>
</section>

{% include page-offers.html %}
