<div class="offer row__column">
  <a id="image-link-{{ offer.class }}" href="{{ offer.url }}"><div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')">
  </div></a>
  <div class="offer__content align-center">
    <h2 class="offer__content-title"><a id="title-link-{{ offer.class }}" href="{{ offer.url }}">{{ offer.title }}</a></h2>
    <p class="offer__content-subtitle">{{ offer.location }}</p>
    <a id="button-link-{{ offer.class }}" href="{{ offer.url }}" class="btn">View Offer</a>
  </div>
</div>
