// all custom styles for the site


.site-footer {
  padding-top: 3em;
  padding-bottom: 3em;
  color: darken( $white, 20 );
  text-align: center;
  font-size: .8em;
  font-weight: 400;
  background-color: $black;
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em;
  border: 1px solid $se-orange;
  font-weight: 500;
  border-radius: 10em;
  &:hover {
    color: white;
    background-color: $se-orange;
    text-decoration: none;
  }
  &--large { font-size: 1.2em; }
  &--extra-spacing { margin-top: 2em; }
  * + & { margin-top: 1em; }
}

// ---------- home page styles ----------
.overview-nav {
  // padding-top: 1px; margin-top: -1px; // fix for parent inheriting child margin
  padding-bottom: $margin;
  &__wrap {
    // margin-top: -($margin * 2);
    @include box-shadow;
  }
  &__item {
    position: relative;
    display: block;
    height: 7.5em;
    color: $white;
    font-family: $special-font-family;
    font-size: 3.375em;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    line-height: 1;
    background-color: $black-33;
    text-shadow: 0 0 0 rgba(0,0,0,0);
    @include background-attributes;
    @include transition;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      padding-left: ($margin / 2);
      padding-right: ($margin / 2);
      transform: translateY(-50%);
      @include transition;
    }
    &:hover {
      text-decoration: none;
      span {
        transform: translateY(-66%);
        text-shadow: 0px 5px 8px $black-33;
      }
    }
    @include bp(xlarge) {
      @include gallery(6);
      // &:nth-child(-n+2) {
      //   margin-top: 0;
      // }
    };
  }
}

// ---------- page-specific styles ----------
// TODO: probably a much cleaner way to do these color changes
.food-and-drink,
.hidden-gems,
.overview {
  .page__content,
  .page__offers,
  .overview-nav { background-color: #e9f0f6; }
  h2, h3, .offer__content-price {
    color: #152b3e;
  }
  .btn{
    border-color: #213e50;
    &:hover { background-color: #213e50; }
  }
}

.hidden-gems {
  // .page__header       { background-position: center 80%; }
  .page__content,
  .page__offers,
  .overview-nav       { background-color: #efeeeb; }
  h2, h3              { color: #554b42; }
  .page__offers-title { color: #42382f; }
  .btn{
    border-color: #8e5d2d;
    &:hover { background-color: #8e5d2d; }
  }
}

.art-and-design {
  .page__header       { background-position: center 40%; }
  .page__content,
  .page__offers,
  .overview-nav       { background-color: #ebeaf1; }
  h2, h3              { color: #23144a; }
  .page__offers-title { color: #1c0c3e; }
  .btn{
    border-color: #23144a;
    &:hover { background-color: #23144a; }
  }
}

.whats-on {
  .page__header{
    background-position: center 33.33%;
  }
  .page__content,
  .page__offers,
  .overview-nav { background-color: #f2f6ef; }
  h2, h3{
    color: #426020;
  }
  .page__offers-title{
    color: #24370e;
  }
  .btn{
    border-color: #8bc34a;
    &:hover { background-color: #8bc34a; }
  }
}


.overview{
  .page__header-title { margin-bottom: .075em; }
}

.offers {
  .page__content,
  .page__offers,
  .overview-nav { background-color: #f8f4f3; }
  h2, h3, .offer__content-price {
    color: #5a1213;
  }
  .btn{
    border-color: #80220d;
    &:hover { background-color: #80220d; }
  }
  .page__header {
    background-position: center 80%;
    background-size: initial;
    @include bp(large) {
      background-position: center 90%;
      background-size: 100%;
      background-size: cover;
    }
  }
  .page__offers {
    padding-top: 1px; margin-top: -1px; // fix for parent inheriting child margin
    > .row {
      margin-top: -($margin * 2);
    }
  }
}


// ---------- background image attribution style ----------

.bg-img-attribution {
  position: absolute;
  top: -2em;
  right: 0;
  height: 2em;
  padding-left: .75em;
  padding-right: .75em;
  color: $white;
  font-size: .8em;
  line-height: 2;
  background-color: $black-5;
  opacity: .7;
  @include transition;
  &:hover {
    opacity: 1;
  }
}
